* {
  margin: 0%;
  left: 0%;
}

body {
  background-image: url("bg.jpg");
}

/* h1 {
  font-weight: bolder;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  text-shadow: 2px 2px 5px rgb(255, 238, 0);
} */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 110px);
  gap: 10px;
  column-gap: 20px;
}

.emoji {
  width: 110px;
  height: 110px;
  border: 2px solid rgb(255, 238, 0);
  border-radius: 10px;
  transition: 0.2s;
}

.emoji:hover {
  width: 115px;
  height: 115px;
  box-shadow: rgb(238, 255, 0) 0px 22px 70px 4px;
}

.restart {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: rgb(255, 251, 0);
  font-weight: bolder;
  transition: 0.3s;
}
.restart:hover {
  font-size: medium;
  box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
}

.count {
  font-size: medium;
  font-weight: bolder;
  margin-bottom: 30px;
  color: yellow;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.drawpopup {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0.9;
  display: none;
}
.innerpopup {
  position: absolute;
  left: 35%;
  top: 40%;
  transform: (-50%, -50%);
  width: 400px;
  height: 150px;
  background-color: rgb(218, 186, 186);
  border-radius: 20px;
  text-align: center;
  align-content: center;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 251, 3), 0 0 0.2em rgb(255, 238, 0);
  font-weight: 900;
  font-size: larger;
  box-shadow: rgb(253, 236, 0) 0px 5px 15px;
}

.OK {
  position: absolute;
  right: 2%;
  top: 2%;
  padding: 3px 10px;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 230, 0);
  box-shadow: rgb(249, 253, 0) 0px 5px 15px;
  font-size: large;
  color: rgb(0, 0, 0);
  float: right;
  top: 5px;
  position: absolute;
  left: 90%;
}
.OK:hover {
  background-color: rgb(5, 5, 5);
  box-shadow: rgb(2, 2, 2) 0px 5px 15px;
  color: aliceblue;
}
